requests
rich
neo4j
chromadb
langchain
langchain-community
langchain-anthropic
langchain-cli
langchain-ollama
langchain-experimental
beautifulsoup4
sentence-transformers
langchain-huggingface
langchain-chroma
faiss-cpu
langchain-openai
langchain-neo4j
langgraph
datasets
einops
optimum[onnxruntime]
mcp
fastmcp
langchain-mcp-adapters[all]

# Temporary workaround - this is a bit of a mess because httpx 0.28.0 is required by fastmcp and anthropic won't work with it
httpx==0.27.2 
anthropic==0.38.0
