requests
rich
neo4j
chromadb
langchain
langchain-community
langchain-anthropic
langchain-cli
langchain-ollama
langchain-experimental
beautifulsoup4
sentence-transformers
langchain-huggingface
langchain-chroma
faiss-cpu
langchain-openai
langchain-neo4j
langgraph
datasets
einops
optimum[onnxruntime]
mcp
fastmcp
langchain-mcp-adapters[all]
httpx
anthropic
