requests==2.32.5
rich==14.2.0
neo4j==5.28.2
chromadb==1.5.9
langchain==1.2.18
langchain-community==0.4.1
langchain-anthropic==1.4.3
langchain-cli==0.0.37
langchain-ollama==1.1.0
langchain-experimental==0.4.1
beautifulsoup4==4.14.2
langchain-chroma==1.1.0
langchain-openai==1.2.1
langchain-neo4j==0.9.0
langgraph==1.1.10
mcp==1.20.0
fastmcp==2.13.0.2
langchain-mcp-adapters==0.2.2
httpx==0.28.1
anthropic==0.100.0
unstructured==0.18.15
prompt_toolkit==3.0.52
sseclient==0.0.27
langchain-graph-retriever==0.8.0
langchain-classic==1.0.7
langgraph-checkpoint-sqlite==3.0.3